name: Docker registry

on:
  push:
    branches:
      - main
  release:
    types:
      - created

env:
  IMAGE_NAME: aoirint/ffmpeg
  IMAGE_TAG: ${{ github.event.release.tag_name != '' && github.event.release.tag_name || 'latest' }}

jobs:
  push:
    strategy:
      fail-fast: false
      matrix:
        include:
          -
            tag_prefix: ''
            tag_suffix: ''
            base_image: 'ubuntu:24.04'
            ffmpeg_repository_url: 'https://git.ffmpeg.org/ffmpeg.git'
            ffmpeg_version: 'n7.1.3'
            enable_nvcodec: '0'
          -
            tag_prefix: 'ubuntu-'
            tag_suffix: ''
            base_image: 'ubuntu:24.04'
            ffmpeg_repository_url: 'https://git.ffmpeg.org/ffmpeg.git'
            ffmpeg_version: 'n7.1.3'
            enable_nvcodec: '0'
          -
            tag_prefix: 'nvidia-'
            tag_suffix: ''
            base_image: 'nvcr.io/nvidia/cuda:12.8-cudnn8-devel-ubuntu24.04'
            ffmpeg_repository_url: 'https://git.ffmpeg.org/ffmpeg.git'
            ffmpeg_version: 'n7.1.3'
            enable_nvcodec: '1'
          -
            tag_prefix: 'ubuntu-aoirint-'
            tag_suffix: ''
            base_image: 'ubuntu:24.04'
            ffmpeg_repository_url: 'https://github.com/aoirint/FFmpeg.git'
            ffmpeg_version: '7.1.3-aoirint.1'
            enable_nvcodec: '0'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to docker hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        env:
          IMAGE_NAME_AND_TAG: ${{ format('{0}:{1}{2}{3}', env.IMAGE_NAME, matrix.tag_prefix, env.IMAGE_TAG, matrix.tag_suffix) }}
          IMAGE_CACHE_FROM: ${{ format('type=registry,ref={0}:{1}latest{2}-buildcache', env.IMAGE_NAME, matrix.tag_prefix, matrix.tag_suffix) }}
          IMAGE_CACHE_TO: ${{ env.IMAGE_TAG == 'latest' && format('type=registry,ref={0}:{1}latest{2}-buildcache,mode=max', env.IMAGE_NAME, matrix.tag_prefix, matrix.tag_suffix) || '' }}
        with:
          push: true
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Dockerfile
          build-args: |
            BASE_IMAGE=${{ matrix.base_image }}
            FFMPEG_REPOSITORY_URL=${{ matrix.ffmpeg_repository_url }}
            FFMPEG_VERSION=${{ matrix.ffmpeg_version }}
            ENABLE_NVCODEC=${{ matrix.enable_nvcodec }}
          tags: ${{ env.IMAGE_NAME_AND_TAG }}
          cache-from: ${{ env.IMAGE_CACHE_FROM }}
          cache-to: ${{ env.IMAGE_CACHE_TO }} 
